
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Phones
@model PhoneViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="PhoneInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PhoneId") :</h6>
                @Model.Phone.PhoneId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("isDelete") :</h6>
                @Model.Phone.isDelete
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.Phone.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Mobile") :</h6>
                @Model.Phone.Mobile
            </div>


        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithClose.cshtml")

