@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Childs
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Startup
@model MasterDetailChild_BaseEntity_ChildsViewModel
@{
Layout = null;
}
<script src="/view-resources/Areas/AppAreaName/Views/MasterDetailChild_BaseEntity_Childs/Index.js" asp-append-version="true"></script>
<input type="hidden" id="MasterDetailChild_BaseEntity_ChildsId" value="@Model.BaseEntityId" />

<div class="card card-custom gutter-b">

    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">@L("Childs")</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">@L("ChildsHeaderInfo")</span>
        </h3>
        <div class="card-toolbar">
            <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

            @if (IsGranted(AppPermissions.Pages_Childs_Create))
            {
            <button id="CreateNewChildButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewChild")</button>
            }
        </div>
    </div>

    <div class="card-body">
        <div class="form">
            <div class="row align-items-center mb-4">
                <div class="col-xl-12">
                    <div class="form-group align-items-center">
                        <div class="input-group">
                            <input type="text" id="MasterDetailChild_BaseEntity_ChildsTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                            <span class="input-group-btn">
                                <button id="GetChildsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="MasterDetailChild_BaseEntity_AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
            <div class="col-md-12">
                <div class="separator separator-dashed"></div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="MasterDetailChild_BaseEntity_ChildProp1FilterId">@L("ChildProp1")</label>
                    <input type="text" class="form-control" name="childProp1Filter" id="MasterDetailChild_BaseEntity_ChildProp1FilterId">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="MasterDetailChild_BaseEntity_UserNameFilterId">(@L("User")) @L("Name")</label>
                    <input type="text" class="form-control" name="userNameFilter" id="MasterDetailChild_BaseEntity_UserNameFilterId">
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-12">
                <span id="MasterDetailChild_BaseEntity_ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                <span id="MasterDetailChild_BaseEntity_HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
            </div>
        </div>
        <div class="row align-items-center">
            <table id="MasterDetailChild_BaseEntity_ChildsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        <th></th>

                        <th>@L("Actions")</th>
                        <th>@L("ChildProp1")</th>
                        <th>@L("UserName")</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>