@using System.Globalization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models
@model CreateOrEditToolViewModel

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(("Thêm / Sửa")))

@*
    <div class="modal-body">
        <form name="OrganizationUnitForm" role="form" novalidate class="form-validation">
            <input type="hidden" name="ParentId" value="@Model.ParentId" />
            <div class="form-group">
                <label for="DisplayName">@L("Name")</label>
                <input id="DisplayName" class="form-control" type="text" name="DisplayName" required maxlength="@OrganizationUnit.MaxDisplayNameLength">
            </div>
        </form>
    </div>
*@

@*
    <div class="modal-header">
        <h5 class="modal-title">
            <span>Cập nhật thông tin quận/huyện</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    </div>
*@

<div class="modal-body">
    <div id="DM_QuanHuyenInformationsTab">
        <form name="DM_QuanHuyenInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="id" value="@Model.Tool.Id" />

            @*<div class="form-group">
                    <label for="DM_QuanHuyen_MaQuanHuyen">Mã bưu cục</label>
                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="pOSCode" value="@Model.Tool.PosCode" type="text" name="posCode" readonly />
                    }
                    else
                    {
                        <input class="form-control" id="pOSCode" value="@Model.Tool.PosCode" type="text" name="posCode" />
                    }
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenCommuneLookupTableButton" type="button"><i class="la la-filter"></i></button>
                    </div>
                </div>*@

            <div class="form-group m-form__group">
                <label for="DM_TinhThanhTenTinhThanh">Mã bưu cục</label>
                <div class="input-group">
                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="ProvinceName" name="posCode" value="@Model.Tool.PosCode" type="text">
                    }
                    else
                    {
                        <input class="form-control" id="ProvinceName" name="posCode" value="@Model.Tool.PosCode" type="text" disabled="">
                    }
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenPosLookupTableButton" type="button"><i class="la la-filter"></i></button>
                    </div>
                    @*<div class="input-group-prepend">
                            <button class="btn btn-danger" type="button" id="ClearProvinceButton"><i class="la la-eraser"></i></button>
                        </div>*@
                </div>
                <input class="form-control" value="@Model.PosName" type="text" name="posName" hidden="">
            </div>

            <div class="form-group m-form__group">
                <label for="DM_QuanHuyen_MaQuanHuyen">Tên bưu cục</label>
                <div class="input-group">
                    @if (Model.IsEditMode)
                    {
                        <input class="form-control" id="DM_QuanHuyen_MaQuanHuyen" value="@Model.PosName" type="text" name="unitName" />
                    }
                    else
                    {
                        <input class="form-control" id="DM_QuanHuyen_MaQuanHuyen" value="@Model.PosName" type="text" name="unitName" disabled="" />
                    }
                    <div class="input-group-append">
                        <button class="btn btn-primary blue" id="OpenUnitLookupTableButton" type="button"><i class="la la-filter"></i></button>
                    </div>
                </div>
                <input class="form-control" value="@Model.Tool.PosCode" type="text" name="unitCode" hidden="">
            </div>

            <div class="form-group">
                <label for="DM_QuanHuyen_MaQuanHuyen">Tên thiết bị</label>
                <input class="form-control" id="DM_QuanHuyen_MaQuanHuyen" value="@Model.Tool.ToolName" type="text" name="toolName" />
            </div>

            @*<div class="form-group m-form__group">
                    <label for="DM_TinhThanhTenTinhThanh">Loại thiết bị</label>
                    <div class="input-group">
                        <input class="form-control" id="ProvinceName" name="type" value="@Model.Tool.Type" type="text" disabled="">
                        <div class="input-group-append">
                            <button class="btn btn-primary blue" id="OpenProvinceLookupTableButton" type="button"><i class="la la-filter"></i></button>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-danger" type="button" id="ClearProvinceButton"><i class="la la-eraser"></i></button>
                        </div>
                    </div>
                    <input class="form-control" value="@Model.Tool" type="text" name="type" hidden="">
                </div>*@

            <div class="form-group m-form__group">
                <label for="Release_ReleaseType">Loại thiết bị</label>
                <select class="form-control m-input m-input--square" name="toolType" id="toolType" data-val="true" data-val-required="The ReleaseType field is required." aria-invalid="false">
                    <option selected="selected" value="0">Chọn</option>
                    <option value="1">@L("ToolType_DauDocMaVach1ChieuCoDay")</option>
                    <option value="2">@L("ToolType_DauDocMaVach1ChieuKhongDay")</option>
                    <option value="3">@L("ToolType_MayInLaser")</option>
                    <option value="4">@L("ToolType_MayInNhiet")</option>
                    <option value="5">@L("ToolType_MayInPhotocopy")</option>
                    <option value="6">@L("ToolType_MayTinhDeBan")</option>
                    <option value="7">@L("ToolType_MayTinhXachTay")</option>
                    <option value="8">@L("ToolType_MoDem")</option>
                    <option value="9">@L("ToolType_Switch")</option>
                    <option value="100">@L("ToolType_Khac")</option>
                </select>
            </div>

            <div class="form-group">
                <label for="DM_QuanHuyen_MaQuanHuyen">Serial</label>
                <input class="form-control" id="DM_QuanHuyen_MaQuanHuyen" value="@Model.Tool.Serial" type="text" name="serial" />
            </div>

            <div class="form-group">
                <label for="DM_QuanHuyen_MaQuanHuyen">Ngày đưa vào sử dụng</label>
                <input class="form-control date-picker" id="DM_QuanHuyen_MaQuanHuyen" value="@Model.Tool.UsedFrom" type="text" name="usedFrom" />
            </div>

            <div class="form-group m-form__group">
                <label for="DM_TinhThanhTenTinhThanh">Cấu hình</label>
                <div class="input-group">
                    <textarea class="form-control" id="CommuneName" name="CommuneName" rows="5">@Model.Tool.Configuration</textarea>
                    <div class="input-group-append">
                        @*<button class="btn btn-primary blue" id="OpenCommuneLookupTableButton" type="button"><i class="la la-filter"></i></button>*@
                    </div>
                    <div class="input-group-prepend">
                        <button class="btn btn-danger" type="button" id="ClearCommuneButton"><i class="la la-eraser"></i></button>
                    </div>
                </div>
                <input class="form-control" value="@Model.Tool.Configuration" type="text" name="configuration" hidden="">
            </div>

            @*<div class="form-group m-form__group">
                    <label for="DM_TinhThanhTenTinhThanh">Tình trạng hoạt động</label>
                    <div class="input-group">
                        <input class="form-control" id="CommuneName" name="CommuneName" value="@Model.Tool.Condition" type="text" disabled="">
                        <div class="input-group-append">
                            <button class="btn btn-primary blue" id="OpenCommuneLookupTableButton" type="button"><i class="la la-filter"></i></button>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-danger" type="button" id="ClearCommuneButton"><i class="la la-eraser"></i></button>
                        </div>
                    </div>
                    <input class="form-control" value="@Model.Tool.Condition" type="text" name="codition" hidden="">
                </div>*@

            <div class="form-group m-form__group">
                <label for="Release_ReleaseType">Tình trạng hoạt động</label>
                <select class="form-control m-input m-input--square" name="toolCondition" id="toolCondition" data-val="true" data-val-required="The ReleaseType field is required." aria-invalid="false">
                    <option selected="selected" value="0">Chọn</option>
                    <option value="1">@L("ToolCondition_TrucTrac")</option>
                    <option value="2">@L("ToolCondition_KhongOnDinh")</option>
                    <option value="3">@L("ToolCondition_Cham")</option>
                    <option value="4">@L("ToolCondition_BinhThuong")</option>
                    <option value="5">@L("ToolCondition_Tot")</option>
                    <option value="100">@L("ToolCondition_Khac")</option>
                </select>
            </div>

            @*<div class="form-group m-form__group">
                    <label for="DM_TinhThanhTenTinhThanh">Xác nhận đơn vị</label>
                    <div class="input-group">
                        <input class="form-control" id="DM_TinhThanhTenTinhThanh" name="UnitName" value="@Model.Tool.ToolStatus" type="text" disabled="">
                        <div class="input-group-append">
                            <button class="btn btn-primary blue" id="OpenUnitLookupTableButton" type="button"><i class="la la-filter"></i></button>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-danger" type="button" id="ClearUnitButton"><i class="la la-eraser"></i></button>
                        </div>
                    </div>
                    <input class="form-control" value="@Model.Tool.ToolStatus" type="text" name="toolStatus" hidden="">
                </div>*@

            <div class="form-group m-form__group">
                <label for="Release_ReleaseType">Xác nhận đơn vị</label>
                <select class="form-control m-input m-input--square" name="toolStatus" id="toolStatus" data-val="true" data-val-required="The ReleaseType field is required." aria-invalid="false">
                    <option selected="selected" value="0">Chọn</option>
                    <option value="1">@L("ToolStatus_DangSuDung")</option>
                    <option value="2">@L("ToolStatus_DaDungSuDung")</option>
                    <option value="3">@L("ToolStatus_YeuCauSuaChua")</option>
                    <option value="4">@L("ToolStatus_YeuCauThayThe")</option>
                    <option value="5">@L("ToolStatus_YeuCauDieuChuyen")</option>
                    <option value="6">@L("ToolStatus_KhongCoNhuCauSuDung")</option>
                    <option value="100">@L("ToolStatus_Khac")</option>
                </select>
            </div>

            <div class="form-group">
                <label for="DM_QuanHuyen_MaQuanHuyen">Ghi chú</label>
                <input class="form-control" id="DM_QuanHuyen_MaQuanHuyen" value="@Model.Tool.Note" type="text" name="note" />
            </div>

        </form>
    </div>
</div>

@*<div class="modal-footer">
        <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">H&#x1EE7;y</button>
        <button type="button" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>L&#x1B0;u</span></button>
    </div>*@

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script>
    var toolType = "@Model.Tool.Type.ToString()";
    var toolStatus = "@Model.Tool.ToolStatus.ToString()";
    var toolCondition = "@Model.Tool.Condition.ToString()";
    switch (toolType) {
        case "DauDocMaVach1ChieuCoDay":
            $('#toolType').val(1);
            break;
        case "DauDocMaVach1ChieuKhongDay":
            $('#toolType').val(2);
            break;
        case "MayInLaser":
            $('#toolType').val(3);
            break;
        case "MayInNhiet":
            $('#toolType').val(4);
            break;
        case "MayInPhotocopy":
            $('#toolType').val(5);
            break;
        case "MayTinhDeBan":
            $('#toolType').val(6);
            break;
        case "MayTinhXachTay":
            $('#toolType').val(7);
            break;
        case "MoDem":
            $('#toolType').val(8);
            break;
        case "Switch":
            $('#toolType').val(9);
            break;
        case "Khac":
            $('#toolType').val(100);
            break;
        default:
            $('#toolType').val(0);
    }
    switch (toolCondition) {
        case "TrucTrac":
            $('#toolCondition').val(1);
            break;
        case "KhongOnDinh":
            $('#toolCondition').val(2);
            break;
        case "Cham":
            $('#toolCondition').val(3);
            break;
        case "BinhThuong":
            $('#toolCondition').val(4);
            break;
        case "Tot":
            $('#toolCondition').val(5);
            break;
        case "Khac":
            $('#toolCondition').val(100);
            break;
        default:
            $('#toolCondition').val(0);
    }
    switch (toolStatus) {
        case "DangSuDung":
            $('#toolStatus').val(1);
            break;
        case "DaDungSuDung":
            $('#toolStatus').val(2);
            break;
        case "YeuCauSuaChua":
            $('#toolStatus').val(3);
            break;
        case "YeuCauThayThe":
            $('#toolStatus').val(4);
            break;
        case "YeuCauDieuChuyen":
            $('#toolStatus').val(5);
            break;
        case "KhongCoNhuCauSuDung":
            $('#toolStatus').val(6);
            break;
        case "Khac":
            $('#toolStatus').val(100);
            break;
        default:
            $('#toolStatus').val(0);
    }
</script>
