@using System.Globalization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models
@model ToolViewModel

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(("Chi tiết công cụ/dụng cụ")))

@*
<div class="modal-header">
    <h5 class="modal-title">
        <span></span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
</div>
*@

<div class="modal-body">
    <div id="DM_QuanHuyenInformationsTab">

        <div class="m-stack m-stack--hor m-stack--general m-stack--demo">
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Mã bưu cục :</h6>
                <label> @Model.Tool.PosCode </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Tên bưu cục :</h6>
                <label> @Model.PosName </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Thiết bị :</h6>
                <label> @Model.Tool.ToolName </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Loại thiết bị :</h6>
                <label> @Model.Tool.Type </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Serial :</h6>
                <label> @Model.Tool.Serial </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Ngày đưa vào sử dụng :</h6>
                <label> @Model.Tool.UsedFrom </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Cấu hình :</h6>
                <label> @Model.Tool.Configuration </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Tình trạng hoạt động :</h6>
                <label> @Model.Tool.Condition </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Xác nhận đơn vị :</h6>
                <label> @Model.Tool.ToolStatus </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Ghi chú :</h6>
                <label> @Model.Tool.Note </label>
            </div>

            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Nhập ngày :</h6>
                <label> @Model.Tool.CreationTime </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Cập nhật bởi :</h6>
                <label> @Model.Tool.CreatorUserId </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>
            <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>Cập nhật ngày :</h6>
                <label> @Model.Tool.LastModificationTime </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>

            @*<div class="m-stack__item m-stack__item--center m-stack__item--middle">
                <h6>T&#xEA;n t&#x1EC9;nh th&#xE0;nh :</h6>
                <label> @Model.OrganizationUnitDisplayName </label>
            </div>
            <div class="m-separator m-separator--dashed"></div>*@
        </div>
    </div>
</div>

@*
<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">Đóng</button>
</div>
*@

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalFooterWithClose.cshtml")