
@using System.Globalization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.DM_NhomDoiTuongs
@model CreateOrEditDM_NhomDoiTuongsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDM_NhomDoiTuongs")) : L("CreateNewDM_NhomDoiTuongs")))

<div class="modal-body">
    <div id="DM_NhomDoiTuongsInformationsTab">
        <form name="DM_NhomDoiTuongsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.DM_NhomDoiTuongs.Id" />
            }

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_LoaiDoiTuong">@L("LoaiDoiTuong")</label>
                <input class="form-control m-input" id="DM_NhomDoiTuongs_LoaiDoiTuong" value="@Model.DM_NhomDoiTuongs.LoaiDoiTuong.ToString(CultureInfo.InvariantCulture)" type="number" name="loaiDoiTuong" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_MaNhom">@L("MaNhom")</label>
                <input class="form-control" id="DM_NhomDoiTuongs_MaNhom" value="@Model.DM_NhomDoiTuongs.MaNhom" type="text" name="maNhom" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_TenNhom">@L("TenNhom")</label>
                <input class="form-control" id="DM_NhomDoiTuongs_TenNhom" value="@Model.DM_NhomDoiTuongs.TenNhom" type="text" name="tenNhom" required />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_MucDiem">@L("MucDiem")</label>
                <input class="form-control m-input" id="DM_NhomDoiTuongs_MucDiem" value="@Model.DM_NhomDoiTuongs.MucDiem.ToString(CultureInfo.InvariantCulture)" type="number" name="mucDiem" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_GhiChu">@L("GhiChu")</label>
                <input class="form-control" id="DM_NhomDoiTuongs_GhiChu" value="@Model.DM_NhomDoiTuongs.GhiChu" type="text" name="ghiChu" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_UserTao">@L("UserTao")</label>
                <input class="form-control" id="DM_NhomDoiTuongs_UserTao" value="@Model.DM_NhomDoiTuongs.UserTao" type="text" name="userTao" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_NgayTao">@L("NgayTao")</label>
                <input class="form-control m-input date-picker" id="DM_NhomDoiTuongs_NgayTao" type="text" name="ngayTao" value="@Model.DM_NhomDoiTuongs.NgayTao" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_UserSuaCuoi">@L("UserSuaCuoi")</label>
                <input class="form-control" id="DM_NhomDoiTuongs_UserSuaCuoi" value="@Model.DM_NhomDoiTuongs.UserSuaCuoi" type="text" name="userSuaCuoi" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_NgaySuaCuoi">@L("NgaySuaCuoi")</label>
                <input class="form-control m-input date-picker" id="DM_NhomDoiTuongs_NgaySuaCuoi" type="text" name="ngaySuaCuoi" value="@Model.DM_NhomDoiTuongs.NgaySuaCuoi" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_CreationTime">@L("CreationTime")</label>
                <input class="form-control m-input date-picker" id="DM_NhomDoiTuongs_CreationTime" type="text" name="creationTime" value="@Model.DM_NhomDoiTuongs.CreationTime" />
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_LastModificationTime">@L("LastModificationTime")</label>
                <input class="form-control m-input date-picker" id="DM_NhomDoiTuongs_LastModificationTime" type="text" name="lastModificationTime" value="@Model.DM_NhomDoiTuongs.LastModificationTime" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_NhomDoiTuongs_IsDeleted" class="kt-checkbox">
                    <input id="DM_NhomDoiTuongs_IsDeleted" type="checkbox" name="isDeleted" value="true" @Html.Raw(Model.DM_NhomDoiTuongs.IsDeleted ?"checked=\"checked\"":"") />
                    @L("IsDeleted")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_NhomDoiTuongs_DeletionTime">@L("DeletionTime")</label>
                <input class="form-control m-input date-picker" id="DM_NhomDoiTuongs_DeletionTime" type="text" name="deletionTime" value="@Model.DM_NhomDoiTuongs.DeletionTime" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")