
@using System.Globalization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.DM_DoiTuong
@model CreateOrEditDM_DoiTuongModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditDM_DoiTuong")) : L("CreateNewDM_DoiTuong")))

<div class="modal-body">
    <div id="DM_DoiTuongInformationsTab">
        <form name="DM_DoiTuongInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.DM_DoiTuong.Id" />
            }

            <div class="form-group">
                <label for="DM_DoiTuong_LoaiDoiTuong">@L("LoaiDoiTuong")</label>
                <input class="form-control m-input" id="DM_DoiTuong_LoaiDoiTuong" value="@Model.DM_DoiTuong.LoaiDoiTuong.ToString(CultureInfo.InvariantCulture)" type="number" name="loaiDoiTuong" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_LaCaNhan" class="kt-checkbox">
                    <input id="DM_DoiTuong_LaCaNhan" type="checkbox" name="laCaNhan" value="true" @Html.Raw(Model.DM_DoiTuong.LaCaNhan ?"checked=\"checked\"":"") />
                    @L("LaCaNhan")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_MaDoiTuong">@L("MaDoiTuong")</label>
                <input class="form-control" id="DM_DoiTuong_MaDoiTuong" value="@Model.DM_DoiTuong.MaDoiTuong" type="text" name="maDoiTuong" required />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_TenDoiTuong">@L("TenDoiTuong")</label>
                <input class="form-control" id="DM_DoiTuong_TenDoiTuong" value="@Model.DM_DoiTuong.TenDoiTuong" type="text" name="tenDoiTuong" required />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_DienThoai">@L("DienThoai")</label>
                <input class="form-control" id="DM_DoiTuong_DienThoai" value="@Model.DM_DoiTuong.DienThoai" type="text" name="dienThoai" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Fax">@L("Fax")</label>
                <input class="form-control" id="DM_DoiTuong_Fax" value="@Model.DM_DoiTuong.Fax" type="text" name="fax" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Email">@L("Email")</label>
                <input class="form-control" id="DM_DoiTuong_Email" value="@Model.DM_DoiTuong.Email" type="text" name="email" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Website">@L("Website")</label>
                <input class="form-control" id="DM_DoiTuong_Website" value="@Model.DM_DoiTuong.Website" type="text" name="website" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Anh">@L("Anh")</label>
                <input class="form-control" id="DM_DoiTuong_Anh" value="@Model.DM_DoiTuong.Anh" type="text" name="anh" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_MaSoThue">@L("MaSoThue")</label>
                <input class="form-control" id="DM_DoiTuong_MaSoThue" value="@Model.DM_DoiTuong.MaSoThue" type="text" name="maSoThue" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_TaiKhoanNganHang">@L("TaiKhoanNganHang")</label>
                <input class="form-control" id="DM_DoiTuong_TaiKhoanNganHang" value="@Model.DM_DoiTuong.TaiKhoanNganHang" type="text" name="taiKhoanNganHang" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_GioiHanCongNo">@L("GioiHanCongNo")</label>
                <input class="form-control m-input" id="DM_DoiTuong_GioiHanCongNo" value="@Model.DM_DoiTuong.GioiHanCongNo?.ToString(CultureInfo.InvariantCulture)" type="number" name="gioiHanCongNo" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_GhiChu">@L("GhiChu")</label>
                <input class="form-control" id="DM_DoiTuong_GhiChu" value="@Model.DM_DoiTuong.GhiChu" type="text" name="ghiChu" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NgaySinh_NgayTLap">@L("NgaySinh_NgayTLap")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_NgaySinh_NgayTLap" type="text" name="ngaySinh_NgayTLap" value="@Model.DM_DoiTuong.NgaySinh_NgayTLap" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_ChiaSe" class="kt-checkbox">
                    <input id="DM_DoiTuong_ChiaSe" type="checkbox" name="chiaSe" value="true" @Html.Raw(Model.DM_DoiTuong.ChiaSe ?"checked=\"checked\"":"") />
                    @L("ChiaSe")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_TheoDoi" class="kt-checkbox">
                    <input id="DM_DoiTuong_TheoDoi" type="checkbox" name="theoDoi" value="true" @Html.Raw(Model.DM_DoiTuong.TheoDoi ?"checked=\"checked\"":"") />
                    @L("TheoDoi")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ID_Index">@L("ID_Index")</label>
                <input class="form-control m-input" id="DM_DoiTuong_ID_Index" value="@Model.DM_DoiTuong.ID_Index?.ToString(CultureInfo.InvariantCulture)" type="number" name="iD_Index" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_TheoDoiVanTay" class="kt-checkbox">
                    <input id="DM_DoiTuong_TheoDoiVanTay" type="checkbox" name="theoDoiVanTay" value="true" @Html.Raw(Model.DM_DoiTuong.TheoDoiVanTay ?"checked=\"checked\"":"") />
                    @L("TheoDoiVanTay")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NgayDoiNhom">@L("NgayDoiNhom")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_NgayDoiNhom" type="text" name="ngayDoiNhom" value="@Model.DM_DoiTuong.NgayDoiNhom" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_DiemKhoiTao">@L("DiemKhoiTao")</label>
                <input class="form-control m-input" id="DM_DoiTuong_DiemKhoiTao" value="@Model.DM_DoiTuong.DiemKhoiTao?.ToString(CultureInfo.InvariantCulture)" type="number" name="diemKhoiTao" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_DoanhSoKhoiTao">@L("DoanhSoKhoiTao")</label>
                <input class="form-control m-input" id="DM_DoiTuong_DoanhSoKhoiTao" value="@Model.DM_DoiTuong.DoanhSoKhoiTao?.ToString(CultureInfo.InvariantCulture)" type="number" name="doanhSoKhoiTao" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ID_NguoiGioiThieu">@L("ID_NguoiGioiThieu")</label>
                <input class="form-control" id="DM_DoiTuong_ID_NguoiGioiThieu" value="@Model.DM_DoiTuong.ID_NguoiGioiThieu" type="text" name="iD_NguoiGioiThieu" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_CapTai_DKKD">@L("CapTai_DKKD")</label>
                <input class="form-control" id="DM_DoiTuong_CapTai_DKKD" value="@Model.DM_DoiTuong.CapTai_DKKD" type="text" name="capTai_DKKD" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_DiaChi">@L("DiaChi")</label>
                <input class="form-control" id="DM_DoiTuong_DiaChi" value="@Model.DM_DoiTuong.DiaChi" type="text" name="diaChi" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_GioiTinhNam" class="kt-checkbox">
                    <input id="DM_DoiTuong_GioiTinhNam" type="checkbox" name="gioiTinhNam" value="true" @Html.Raw(Model.DM_DoiTuong.GioiTinhNam ?"checked=\"checked\"":"") />
                    @L("GioiTinhNam")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NganHang">@L("NganHang")</label>
                <input class="form-control" id="DM_DoiTuong_NganHang" value="@Model.DM_DoiTuong.NganHang" type="text" name="nganHang" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NgayCapCMTND_DKKD">@L("NgayCapCMTND_DKKD")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_NgayCapCMTND_DKKD" type="text" name="ngayCapCMTND_DKKD" value="@Model.DM_DoiTuong.NgayCapCMTND_DKKD" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NoiCapCMTND_DKKD">@L("NoiCapCMTND_DKKD")</label>
                <input class="form-control" id="DM_DoiTuong_NoiCapCMTND_DKKD" value="@Model.DM_DoiTuong.NoiCapCMTND_DKKD" type="text" name="noiCapCMTND_DKKD" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_SDT_CoQuan">@L("SDT_CoQuan")</label>
                <input class="form-control" id="DM_DoiTuong_SDT_CoQuan" value="@Model.DM_DoiTuong.SDT_CoQuan" type="text" name="sdT_CoQuan" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_SDT_NhaRieng">@L("SDT_NhaRieng")</label>
                <input class="form-control" id="DM_DoiTuong_SDT_NhaRieng" value="@Model.DM_DoiTuong.SDT_NhaRieng" type="text" name="sdT_NhaRieng" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_SoCMTND_DKKD">@L("SoCMTND_DKKD")</label>
                <input class="form-control" id="DM_DoiTuong_SoCMTND_DKKD" value="@Model.DM_DoiTuong.SoCMTND_DKKD" type="text" name="soCMTND_DKKD" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ThuongTru">@L("ThuongTru")</label>
                <input class="form-control" id="DM_DoiTuong_ThuongTru" value="@Model.DM_DoiTuong.ThuongTru" type="text" name="thuongTru" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_XungHo">@L("XungHo")</label>
                <input class="form-control" id="DM_DoiTuong_XungHo" value="@Model.DM_DoiTuong.XungHo" type="text" name="xungHo" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NgayGiaoDichGanNhat">@L("NgayGiaoDichGanNhat")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_NgayGiaoDichGanNhat" type="text" name="ngayGiaoDichGanNhat" value="@Model.DM_DoiTuong.NgayGiaoDichGanNhat" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_TenNguonKhach">@L("TenNguonKhach")</label>
                <input class="form-control" id="DM_DoiTuong_TenNguonKhach" value="@Model.DM_DoiTuong.TenNguonKhach" type="text" name="tenNguonKhach" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_TenNhom">@L("TenNhom")</label>
                <input class="form-control" id="DM_DoiTuong_TenNhom" value="@Model.DM_DoiTuong.TenNhom" type="text" name="tenNhom" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ChucVu">@L("ChucVu")</label>
                <input class="form-control" id="DM_DoiTuong_ChucVu" value="@Model.DM_DoiTuong.ChucVu" type="text" name="chucVu" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_LinhVuc">@L("LinhVuc")</label>
                <input class="form-control" id="DM_DoiTuong_LinhVuc" value="@Model.DM_DoiTuong.LinhVuc" type="text" name="linhVuc" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_TenKhac">@L("TenKhac")</label>
                <input class="form-control" id="DM_DoiTuong_TenKhac" value="@Model.DM_DoiTuong.TenKhac" type="text" name="tenKhac" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_DiaChiKhac">@L("DiaChiKhac")</label>
                <input class="form-control" id="DM_DoiTuong_DiaChiKhac" value="@Model.DM_DoiTuong.DiaChiKhac" type="text" name="diaChiKhac" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_NgaySuaTrangThai">@L("NgaySuaTrangThai")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_NgaySuaTrangThai" type="text" name="ngaySuaTrangThai" value="@Model.DM_DoiTuong.NgaySuaTrangThai" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ID_DonViQuanLy">@L("ID_DonViQuanLy")</label>
                <input class="form-control m-input" id="DM_DoiTuong_ID_DonViQuanLy" value="@Model.DM_DoiTuong.ID_DonViQuanLy?.ToString(CultureInfo.InvariantCulture)" type="number" name="iD_DonViQuanLy" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_CustomerManagementOrganizationCode">@L("CustomerManagementOrganizationCode")</label>
                <input class="form-control" id="DM_DoiTuong_CustomerManagementOrganizationCode" value="@Model.DM_DoiTuong.CustomerManagementOrganizationCode" type="text" name="customerManagementOrganizationCode" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_CustomerManagementOrganizationName">@L("CustomerManagementOrganizationName")</label>
                <input class="form-control" id="DM_DoiTuong_CustomerManagementOrganizationName" value="@Model.DM_DoiTuong.CustomerManagementOrganizationName" type="text" name="customerManagementOrganizationName" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ID_NhomCu">@L("ID_NhomCu")</label>
                <input class="form-control" id="DM_DoiTuong_ID_NhomCu" value="@Model.DM_DoiTuong.ID_NhomCu" type="text" name="iD_NhomCu" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_ID_NhanVienPhuTrach">@L("ID_NhanVienPhuTrach")</label>
                <input class="form-control m-input" id="DM_DoiTuong_ID_NhanVienPhuTrach" value="@Model.DM_DoiTuong.ID_NhanVienPhuTrach?.ToString(CultureInfo.InvariantCulture)" type="number" name="iD_NhanVienPhuTrach" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_TongDiem">@L("TongDiem")</label>
                <input class="form-control m-input" id="DM_DoiTuong_TongDiem" value="@Model.DM_DoiTuong.TongDiem.ToString(CultureInfo.InvariantCulture)" type="number" name="tongDiem" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_FileDinhKems">@L("FileDinhKems")</label>
                <input class="form-control" id="DM_DoiTuong_FileDinhKems" value="@Model.DM_DoiTuong.FileDinhKems" type="text" name="fileDinhKems" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Ma">@L("Ma")</label>
                <input class="form-control" id="DM_DoiTuong_Ma" value="@Model.DM_DoiTuong.Ma" type="text" name="ma" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Profile">@L("Profile")</label>
                <input class="form-control" id="DM_DoiTuong_Profile" value="@Model.DM_DoiTuong.Profile" type="text" name="profile" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_IsNewCustomer" class="kt-checkbox">
                    <input id="DM_DoiTuong_IsNewCustomer" type="checkbox" name="isNewCustomer" value="true" @Html.Raw(Model.DM_DoiTuong.IsNewCustomer ?"checked=\"checked\"":"") />
                    @L("IsNewCustomer")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_Order">@L("Order")</label>
                <input class="form-control m-input" id="DM_DoiTuong_Order" value="@Model.DM_DoiTuong.Order.ToString(CultureInfo.InvariantCulture)" type="number" name="order" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_CreationTime">@L("CreationTime")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_CreationTime" type="text" name="creationTime" value="@Model.DM_DoiTuong.CreationTime" />
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_LastModificationTime">@L("LastModificationTime")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_LastModificationTime" type="text" name="lastModificationTime" value="@Model.DM_DoiTuong.LastModificationTime" />
            </div>

            <div class="m-checkbox-list">
                <label for="DM_DoiTuong_IsDeleted" class="kt-checkbox">
                    <input id="DM_DoiTuong_IsDeleted" type="checkbox" name="isDeleted" value="true" @Html.Raw(Model.DM_DoiTuong.IsDeleted ?"checked=\"checked\"":"") />
                    @L("IsDeleted")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="DM_DoiTuong_DeletionTime">@L("DeletionTime")</label>
                <input class="form-control m-input date-picker" id="DM_DoiTuong_DeletionTime" type="text" name="deletionTime" value="@Model.DM_DoiTuong.DeletionTime" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")