@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.DM_DoiTuong
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Startup
@model DM_DoiTuongViewModel
@{
ViewBag.CurrentPageName = AppAreaNamePageNames.Common.DM_DoiTuong;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/AppAreaName/Views/DM_DoiTuong/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L(" DM_DoiTuong")" description="@L(" DM_DoiTuongHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_DM_DoiTuong_Create))
        {
        <button id="CreateNewDM_DoiTuongButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewDM_DoiTuong")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    @*<input type="text" id="DM_DoiTuongTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">*@
                                    <span class="input-group-btn">
                                        <button id="GetDM_DoiTuongButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLoaiDoiTuongFilterId">@L("MinMax") @L("LoaiDoiTuong")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minLoaiDoiTuongFilter" id="MinLoaiDoiTuongFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxLoaiDoiTuongFilter" id="MaxLoaiDoiTuongFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="LaCaNhanFilterId">@L("LaCaNhan")</label>
                        <select class="form-control" name="LaCaNhanFilter" id="LaCaNhanFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MaDoiTuongFilterId">@L("MaDoiTuong")</label>
                            <input type="text" class="form-control" name="maDoiTuongFilter" id="MaDoiTuongFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenDoiTuongFilterId">@L("TenDoiTuong")</label>
                            <input type="text" class="form-control" name="tenDoiTuongFilter" id="TenDoiTuongFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DienThoaiFilterId">@L("DienThoai")</label>
                            <input type="text" class="form-control" name="dienThoaiFilter" id="DienThoaiFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FaxFilterId">@L("Fax")</label>
                            <input type="text" class="form-control" name="faxFilter" id="FaxFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="EmailFilterId">@L("Email")</label>
                            <input type="text" class="form-control" name="emailFilter" id="EmailFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="WebsiteFilterId">@L("Website")</label>
                            <input type="text" class="form-control" name="websiteFilter" id="WebsiteFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AnhFilterId">@L("Anh")</label>
                            <input type="text" class="form-control" name="anhFilter" id="AnhFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MaSoThueFilterId">@L("MaSoThue")</label>
                            <input type="text" class="form-control" name="maSoThueFilter" id="MaSoThueFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TaiKhoanNganHangFilterId">@L("TaiKhoanNganHang")</label>
                            <input type="text" class="form-control" name="taiKhoanNganHangFilter" id="TaiKhoanNganHangFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinGioiHanCongNoFilterId">@L("MinMax") @L("GioiHanCongNo")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minGioiHanCongNoFilter" id="MinGioiHanCongNoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxGioiHanCongNoFilter" id="MaxGioiHanCongNoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="GhiChuFilterId">@L("GhiChu")</label>
                            <input type="text" class="form-control" name="ghiChuFilter" id="GhiChuFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNgaySinh_NgayTLapFilterId">@L("NgaySinh_NgayTLapRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinNgaySinh_NgayTLapFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxNgaySinh_NgayTLapFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="ChiaSeFilterId">@L("ChiaSe")</label>
                        <select class="form-control" name="ChiaSeFilter" id="ChiaSeFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="TheoDoiFilterId">@L("TheoDoi")</label>
                        <select class="form-control" name="TheoDoiFilter" id="TheoDoiFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinID_IndexFilterId">@L("MinMax") @L("ID_Index")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minID_IndexFilter" id="MinID_IndexFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxID_IndexFilter" id="MaxID_IndexFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="TheoDoiVanTayFilterId">@L("TheoDoiVanTay")</label>
                        <select class="form-control" name="TheoDoiVanTayFilter" id="TheoDoiVanTayFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNgayDoiNhomFilterId">@L("NgayDoiNhomRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinNgayDoiNhomFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxNgayDoiNhomFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDiemKhoiTaoFilterId">@L("MinMax") @L("DiemKhoiTao")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minDiemKhoiTaoFilter" id="MinDiemKhoiTaoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxDiemKhoiTaoFilter" id="MaxDiemKhoiTaoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDoanhSoKhoiTaoFilterId">@L("MinMax") @L("DoanhSoKhoiTao")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minDoanhSoKhoiTaoFilter" id="MinDoanhSoKhoiTaoFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxDoanhSoKhoiTaoFilter" id="MaxDoanhSoKhoiTaoFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ID_NguoiGioiThieuFilterId">@L("ID_NguoiGioiThieu")</label>
                            <input type="text" class="form-control" name="iD_NguoiGioiThieuFilter" id="ID_NguoiGioiThieuFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CapTai_DKKDFilterId">@L("CapTai_DKKD")</label>
                            <input type="text" class="form-control" name="capTai_DKKDFilter" id="CapTai_DKKDFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DiaChiFilterId">@L("DiaChi")</label>
                            <input type="text" class="form-control" name="diaChiFilter" id="DiaChiFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="GioiTinhNamFilterId">@L("GioiTinhNam")</label>
                        <select class="form-control" name="GioiTinhNamFilter" id="GioiTinhNamFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NganHangFilterId">@L("NganHang")</label>
                            <input type="text" class="form-control" name="nganHangFilter" id="NganHangFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNgayCapCMTND_DKKDFilterId">@L("NgayCapCMTND_DKKDRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinNgayCapCMTND_DKKDFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxNgayCapCMTND_DKKDFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NoiCapCMTND_DKKDFilterId">@L("NoiCapCMTND_DKKD")</label>
                            <input type="text" class="form-control" name="noiCapCMTND_DKKDFilter" id="NoiCapCMTND_DKKDFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SDT_CoQuanFilterId">@L("SDT_CoQuan")</label>
                            <input type="text" class="form-control" name="sdT_CoQuanFilter" id="SDT_CoQuanFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SDT_NhaRiengFilterId">@L("SDT_NhaRieng")</label>
                            <input type="text" class="form-control" name="sdT_NhaRiengFilter" id="SDT_NhaRiengFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SoCMTND_DKKDFilterId">@L("SoCMTND_DKKD")</label>
                            <input type="text" class="form-control" name="soCMTND_DKKDFilter" id="SoCMTND_DKKDFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ThuongTruFilterId">@L("ThuongTru")</label>
                            <input type="text" class="form-control" name="thuongTruFilter" id="ThuongTruFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="XungHoFilterId">@L("XungHo")</label>
                            <input type="text" class="form-control" name="xungHoFilter" id="XungHoFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNgayGiaoDichGanNhatFilterId">@L("NgayGiaoDichGanNhatRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinNgayGiaoDichGanNhatFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxNgayGiaoDichGanNhatFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenNguonKhachFilterId">@L("TenNguonKhach")</label>
                            <input type="text" class="form-control" name="tenNguonKhachFilter" id="TenNguonKhachFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenNhomFilterId">@L("TenNhom")</label>
                            <input type="text" class="form-control" name="tenNhomFilter" id="TenNhomFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ChucVuFilterId">@L("ChucVu")</label>
                            <input type="text" class="form-control" name="chucVuFilter" id="ChucVuFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="LinhVucFilterId">@L("LinhVuc")</label>
                            <input type="text" class="form-control" name="linhVucFilter" id="LinhVucFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenKhacFilterId">@L("TenKhac")</label>
                            <input type="text" class="form-control" name="tenKhacFilter" id="TenKhacFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DiaChiKhacFilterId">@L("DiaChiKhac")</label>
                            <input type="text" class="form-control" name="diaChiKhacFilter" id="DiaChiKhacFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinNgaySuaTrangThaiFilterId">@L("NgaySuaTrangThaiRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinNgaySuaTrangThaiFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxNgaySuaTrangThaiFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinID_DonViQuanLyFilterId">@L("MinMax") @L("ID_DonViQuanLy")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minID_DonViQuanLyFilter" id="MinID_DonViQuanLyFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxID_DonViQuanLyFilter" id="MaxID_DonViQuanLyFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CustomerManagementOrganizationCodeFilterId">@L("CustomerManagementOrganizationCode")</label>
                            <input type="text" class="form-control" name="customerManagementOrganizationCodeFilter" id="CustomerManagementOrganizationCodeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CustomerManagementOrganizationNameFilterId">@L("CustomerManagementOrganizationName")</label>
                            <input type="text" class="form-control" name="customerManagementOrganizationNameFilter" id="CustomerManagementOrganizationNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ID_NhomCuFilterId">@L("ID_NhomCu")</label>
                            <input type="text" class="form-control" name="iD_NhomCuFilter" id="ID_NhomCuFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinID_NhanVienPhuTrachFilterId">@L("MinMax") @L("ID_NhanVienPhuTrach")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minID_NhanVienPhuTrachFilter" id="MinID_NhanVienPhuTrachFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxID_NhanVienPhuTrachFilter" id="MaxID_NhanVienPhuTrachFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinTongDiemFilterId">@L("MinMax") @L("TongDiem")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minTongDiemFilter" id="MinTongDiemFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxTongDiemFilter" id="MaxTongDiemFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="FileDinhKemsFilterId">@L("FileDinhKems")</label>
                            <input type="text" class="form-control" name="fileDinhKemsFilter" id="FileDinhKemsFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MaFilterId">@L("Ma")</label>
                            <input type="text" class="form-control" name="maFilter" id="MaFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ProfileFilterId">@L("Profile")</label>
                            <input type="text" class="form-control" name="profileFilter" id="ProfileFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="IsNewCustomerFilterId">@L("IsNewCustomer")</label>
                        <select class="form-control" name="IsNewCustomerFilter" id="IsNewCustomerFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinOrderFilterId">@L("MinMax") @L("Order")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minOrderFilter" id="MinOrderFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxOrderFilter" id="MaxOrderFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinCreationTimeFilterId">@L("CreationTimeRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinCreationTimeFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxCreationTimeFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLastModificationTimeFilterId">@L("LastModificationTimeRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinLastModificationTimeFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxLastModificationTimeFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="IsDeletedFilterId">@L("IsDeleted")</label>
                        <select class="form-control" name="IsDeletedFilter" id="IsDeletedFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDeletionTimeFilterId">@L("DeletionTimeRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinDeletionTimeFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxDeletionTimeFilterId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="DM_DoiTuongTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("LoaiDoiTuong")</th>
                                <th>@L("LaCaNhan")</th>
                                <th>@L("MaDoiTuong")</th>
                                <th>@L("TenDoiTuong")</th>
                                <th>@L("DienThoai")</th>
                                <th>@L("Fax")</th>
                                <th>@L("Email")</th>
                                <th>@L("Website")</th>
                                <th>@L("Anh")</th>
                                <th>@L("MaSoThue")</th>
                                <th>@L("TaiKhoanNganHang")</th>
                                <th>@L("GioiHanCongNo")</th>
                                <th>@L("GhiChu")</th>
                                <th>@L("NgaySinh_NgayTLap")</th>
                                <th>@L("ChiaSe")</th>
                                <th>@L("TheoDoi")</th>
                                <th>@L("ID_Index")</th>
                                <th>@L("TheoDoiVanTay")</th>
                                <th>@L("NgayDoiNhom")</th>
                                <th>@L("DiemKhoiTao")</th>
                                <th>@L("DoanhSoKhoiTao")</th>
                                <th>@L("ID_NguoiGioiThieu")</th>
                                <th>@L("CapTai_DKKD")</th>
                                <th>@L("DiaChi")</th>
                                <th>@L("GioiTinhNam")</th>
                                <th>@L("NganHang")</th>
                                <th>@L("NgayCapCMTND_DKKD")</th>
                                <th>@L("NoiCapCMTND_DKKD")</th>
                                <th>@L("SDT_CoQuan")</th>
                                <th>@L("SDT_NhaRieng")</th>
                                <th>@L("SoCMTND_DKKD")</th>
                                <th>@L("ThuongTru")</th>
                                <th>@L("XungHo")</th>
                                <th>@L("NgayGiaoDichGanNhat")</th>
                                <th>@L("TenNguonKhach")</th>
                                <th>@L("TenNhom")</th>
                                <th>@L("ChucVu")</th>
                                <th>@L("LinhVuc")</th>
                                <th>@L("TenKhac")</th>
                                <th>@L("DiaChiKhac")</th>
                                <th>@L("NgaySuaTrangThai")</th>
                                <th>@L("ID_DonViQuanLy")</th>
                                <th>@L("CustomerManagementOrganizationCode")</th>
                                <th>@L("CustomerManagementOrganizationName")</th>
                                <th>@L("ID_NhomCu")</th>
                                <th>@L("ID_NhanVienPhuTrach")</th>
                                <th>@L("TongDiem")</th>
                                <th>@L("FileDinhKems")</th>
                                <th>@L("Ma")</th>
                                <th>@L("Profile")</th>
                                <th>@L("IsNewCustomer")</th>
                                <th>@L("Order")</th>
                                <th>@L("CreationTime")</th>
                                <th>@L("LastModificationTime")</th>
                                <th>@L("IsDeleted")</th>
                                <th>@L("DeletionTime")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>