
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.BaseEntities
@model BaseEntityViewModel

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="BaseEntityInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("BaseProp1") :</h6>
                @Model.BaseEntity.BaseProp1
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("OrganizationUnit")) @L("DisplayName") :</h6>
                @Model.OrganizationUnitDisplayName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalFooterWithClose.cshtml")