@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.BaseEntities
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Startup
@model BaseEntitiesViewModel
@{
ViewBag.CurrentPageName = qlnvPageNames.Common.BaseEntities;
}
@section Scripts
{
<script src="/view-resources/Areas/qlnv/Views/BaseEntities/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L(" BaseEntities")" description="@L(" BaseEntitiesHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_BaseEntities_Create))
        {
        <button id="CreateNewBaseEntityButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewBaseEntity")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="BaseEntitiesTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetBaseEntitiesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BaseProp1FilterId">@L("BaseProp1")</label>
                            <input type="text" class="form-control" name="baseProp1Filter" id="BaseProp1FilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="OrganizationUnitDisplayNameFilterId">(@L("OrganizationUnit")) @L("DisplayName")</label>
                            <input type="text" class="form-control" name="organizationUnitDisplayNameFilter" id="OrganizationUnitDisplayNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="BaseEntitiesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th style="width:50px"></th>
                                <th>@L("Actions")</th>
                                <th>@L("BaseProp1")</th>
                                <th>@L("OrganizationUnitDisplayName")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>