
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Common.Modals
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Childs
@model ChildViewModel

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ChildInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("ChildProp1") :</h6>
                @Model.Child.ChildProp1
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("BaseEntity")) @L("BaseProp1") :</h6>
                @Model.BaseEntityBaseProp1
            </div>
            <div class="col-6 mb-3">
                <h6>(@L("User")) @L("Name") :</h6>
                @Model.UserName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/qlnv/Views/Common/Modals/_ModalFooterWithClose.cshtml")