@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Childs
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Startup
@model ChildsViewModel
@{
ViewBag.CurrentPageName = qlnvPageNames.Common.Childs;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/qlnv/Views/Childs/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L(" Childs")" description="@L(" ChildsHeaderInfo")">
        <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Childs_Create))
        {
        <button id="CreateNewChildButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewChild")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="ChildsTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetChildsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ChildProp1FilterId">@L("ChildProp1")</label>
                            <input type="text" class="form-control" name="childProp1Filter" id="ChildProp1FilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BaseEntityBaseProp1FilterId">(@L("BaseEntity")) @L("BaseProp1")</label>
                            <input type="text" class="form-control" name="baseEntityBaseProp1Filter" id="BaseEntityBaseProp1FilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UserNameFilterId">(@L("User")) @L("Name")</label>
                            <input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ChildsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("ChildProp1")</th>
                                <th>@L("BaseEntityBaseProp1")</th>
                                <th>@L("UserName")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>