@using Abp.MultiTenancy
@using MyCompanyName.AbpZeroTemplate.Authorization
@using MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Startup
@model MyCompanyName.AbpZeroTemplate.Web.Areas.qlnv.Models.Languages.LanguagesIndexViewModel
@{
    ViewBag.CurrentPageName = qlnvPageNames.Common.Languages;
}

@section Scripts
{
    <script abp-src="/view-resources/Areas/qlnv/Views/_Bundles/language-list.js" asp-append-version="true"></script>
}

@section Styles
{
    <link rel="stylesheet" href="/crmdemo/metronic/dist/html/blue/assets/demo/blue/base/style.bundle.css" asp-append-version="true" />

    <style>
        /*overide*/
        .btn {
            padding: 0.35rem 0.75rem;
            font-size: 0.875rem;
            line-height: 1.5;
            border-radius: 0.2rem;
        }

        .btn-primary {
            color: #fff;
            background-color: #58A3DC !important;
            border-color: #58A3DC;
        }

        /*0=----------------*/
        .table, thead {
            font-family: sans-serif !important;
            /*border-collapse: collapse !important;*/
        }

        .table-bordered tr {
        }
        /*.table-bordered td {
                padding         : 3px 0px 3px 5px !important;*/
        /*border-right    : 1px solid #848080 !important;
                border-bottom   : 1px solid #848080 !important;*/
        /*}*/
        .dataTables_wrapper table thead {
            background-color: #f9f9f9 !important;
        }

        table thead {
            line-height: 21px !important;
            font-size: 13px !important;
            font-weight: bold;
            text-align: center;
            line-height: 27px !important;
        }

        body {
            font-family: sans-serif !important;
        }
        /*
                #848080
                #EBEDF3
        */
        .table-bordered th, .table-bordered td {
            border: 1px solid #84808060 !important;
        }

        .table th, .table td {
            padding: 0.30rem !important;
        }

        .dropdown-toggle.nav-link:after, .dropdown-toggle.btn:after {
            text-align: center;
            display: inline;
            border: 0;
            font-family: "LineAwesome";
            text-decoration: inherit;
            text-rendering: optimizeLegibility;
            text-transform: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            content: "";
            font-size: 0.8rem;
            line-height: 0;
            vertical-align: middle;
            top: -0.1em;
            position: relative;
        }
    </style>

}


<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Languages")" description="@L("LanguagesHeaderInfo")">
        @if (IsGranted(AppPermissions.Pages_Administration_Languages_Create) && AbpSession.MultiTenancySide == MultiTenancySides.Host)
        {
            <button id="CreateNewLanguageButton" class="btn btn-primary">
                <i class="fa fa-plus"></i> @L("CreateNewLanguage")
            </button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="align-items-center">
                    <table id="LanguagesTable" class="display table table-striped table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Actions")</th>
                                <th>@L("Name")</th>
                                <th>@L("Code")</th>
                                <th>@L("Default")</th>
                                <th>@L("IsEnabled")</th>
                                <th>@L("CreationTime")</th>
                            </tr>
                        </thead>
                    </table>
                    @if (Model.IsTenantView)
                    {
                        <p class="margin-top-20">
                            @("* " + L("CanNotEditOrDeleteDefaultLanguages"))
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
